 .container-fluid{
  margin: 0px !important;
  padding: 0px !important;
}
.nav-link{
  color: darkgoldenrod;
  position: relative;
}


.nav-link:hover{
  color: white;
}
.f4 {
  font-size: 30px;
  cursor: pointer;
}


/* carusell */

.karusel{
  width: 100%;
  height: 100vh !important;
  /* overflow: hidden; */
}
.carousel-item{
  width: 100%;
  height: 100vh;
}
.carousel-item > img{
  width: 100% !important;
  height: 100% !important;
  filter: brightness(40%)


}


/* menu 2-page */
.object-fit-cover {
  -o-object-fit: cover!important;
  object-fit: cover!important;
}
.ratio>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
img, svg {
  vertical-align: middle;
}
.mb-2 {
  margin-bottom: 0.5rem!important;
}
.mb-0 {
  margin-bottom: 0!important;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* yuqoriga strelka */

.p_f{
  position: fixed;
  bottom: 12px;
  right: 25px;
  font-size: 40px;
  animation: pf 1s linear 0s infinite;
  transition: 0.7s;
  padding: 5px 10px;

}
.p_f a{
  color: darkgoldenrod ;

}
.as{
  color: darkgoldenrod ;
  text-decoration: none;

}
.p_f:hover{
 background-color: black;
 padding: 5px 10px;
 border-radius: 8px;
}
.p_f:hover a{
  color: white;
}
@keyframes pf{
  50%{
      transform: translateY(12px);
  }
}

.active{
  color: white;
}
.hover-d{
  transition: 0.5s;
  overflow: hidden;
  border-radius: 3px;
}
.hover-d:hover{
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.454);
  transform: scale(1.005);

}
.hover-d img{
  transition: 0.5s;
}
.hover-d:hover img{
  /* background-color: black; */
  transform: scale(1.2);
  border-radius: 5px;
}
.hover-d .price{
  transition: 0.5s;
  background: darkgoldenrod;
  height: 100%;
}
.hover-d:hover .price{
  /* background-color: black; */
  transform: scale(1.2);
}
.buyurtma{
  right: 0;
  bottom: 0;
}

/* reg */
.reg{
  position: fixed;
  /* left: 25%; */
  bottom: 18%;
  width: 100%;
  text-align: center;

}

.button-h{
  width: 210px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #FF9320;
  background: transparent;
  color: #FF9320;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 21000;
}

.button-h span{
  height: 100%;
  width: 0%;
  background-color: #FF9320;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1 !important;
  transition: 0.5s;
}
.button-h:hover span{
  width: 100%;
}
.button-h:hover{
  border: none;
  color: white;
  border: 2px solid  transparent;
}
@media screen and (max-width:992px) {
  .button-h{
    width: 180px !important;
    padding: 10px 0 !important;
    font-size: 13px !important;

  }
}
@media screen and (max-width:443px) {
  .button-h{
    width: 150px !important;
    padding: 8px 0 !important;
    font-size: 10px !important;

  }
}

.bg-2{
  background-color: #FF9320 !important;
}
.icons i{
  cursor: pointer;
}
.icons i:hover{
  /* background: #FF9320; */
  color: #FF9320;
}

